  .homepage-card {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .homepage-header {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .homepage-image {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 10px;
  }
  

  /* Media query for tablets and larger devices */
@media (min-width: 768px) {
  .homepage-button {
    width: 75%;
    font-size: 18px;
    padding: 12px;
  }
}

/* Media query for desktops and larger devices */
@media (min-width: 1024px) {
  .homepage-button {
    width: 50%;
    font-size: 20px;
    padding: 14px;
  }
}




  .homepage-buttons {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .homepage-button {
    width: 100%;
    padding: 10px;
    background: #007bff;
    color: white;
    border: none;
    border-radius: 50px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .homepage-button:hover {
    background: #0056b3;
  }
  
  .social-icons {
    text-align: center;
    margin-top: 20px;
  }
  
  .footer {
    text-align: center;
    margin-top: 20px;
    color: #007bff;
  }
  